
nav {
    background-color: #504136;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding: 12px;
    color: white;
}

.Nav-Left {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Nav-Right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.register-button {

    cursor: pointer;
    margin-left: -15px;
    margin-right: 20px;
    font-size: 19px;
    padding: 8px;
    background-color: #F2D0A9;
    border: 1px solid #bca182;
    border-radius: 5px;
    transition: all 200ms ease-out;
}

.register-button:hover {

    background-color: #c8ad8e;
}

.login-button {

    cursor: pointer;
    margin-right: 20px;
    font-size: 19px;
    padding: 8px;
    background-color: #F2D0A9;
    border: 1px solid #bca182;
    border-radius: 5px;
    transition: all 200ms ease-out;
}

.login-button:hover {

    background-color: #c8ad8e;
}

h2 {
    margin-left: 10px;
}

form {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

form input {

    height: 32px;
    width: 300px;
    padding: 4px;
    padding-left: 6px;
    font-size: 17px;
    outline: none;
    border: 1px solid black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

form button {
    height: 40px;
    width: 53px;
    margin-left: -1px;
    cursor: pointer;
    font-size: 20px;
    background-color: #F2D0A9;
    border: none;
}